.card {
    background-color: #fff;
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    color: #8c8c8c;
}

@media(max-width: 700px) {
    .card{
        margin-top: 30%;
        width: 90%;
    }
}